.container {
  display: flex;
}
/* sidebar-start */
.side-bar {
  flex: 1;
  background-color: white;
  border-right: 1px solid rgb(215, 215, 215);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.side-content {
  padding: 7px 0px;
  height: 70px;
  border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 98%;
  box-sizing: border-box;
}
/* menu-start */
.first-side{
    display: flex;
    align-items: center;
}
.side-bar .menu .bi-list {
  width: 8%;
  padding: 5px;
  color: black;
  border-radius: 50%;
}
.side-bar .menu .bi-search {
  display: none;
}
.side-bar .menu .bi-list:hover {
  background-color: whitesmoke;
}
.side-bar .menu h3{
    display: none;
}
.side-bar .menu input {
  width: 75%;
  height: 42px;
  padding: 5px 18px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: whitesmoke;
  border: none;
  outline: none;
}
/* menu-ed */
/* contact-start */
.side-bar{
  overflow: hidden;

}
.side-bar .contact svg {
  width: 50px;
}
.side-bar .contact .contact-text {
  width: 77%;
}
.side-bar .contact .contact-text {
  font-size: 15px;
}
.last-message{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.side-bar .contact:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
/* contact-ed */
/* sidebar-ed */

/* main-start */
/* topbar-start */
.main {
  flex: 3.5;
  border-right: 1px solid rgb(182, 182, 182);
}
.main .top-bar {
  height: 58px;
  background-color: white;
  display: flex;
}
.main .top-bar .contact-info {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  margin-left: 20px;
}
.main .top-bar .contact-info svg {
  height: 43px;
}
.main .top-bar .contact-info-text{
  width: 200px;
  padding: 0px 15px;
}
.main .top-bar .contact-info-text p{
  font-size: 14px;
}
.main .top-bar .chat-feature {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 3.5;
  margin-right: 20px;
}
.main .top-bar .chat-feature svg {
  height: 100%;
  width: 18px;
  color: rgb(99, 99, 99);
  padding: 0px 7px;
}
/* topbar-ed */
/* chatarea-start */
.main .chat {
  height: 90%;
  position: relative;
}
.chat-input{
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  transform: translateX(30%);
  background-color: white;
  height: 50px;
  width: 60%;
  display: flex;
  align-items: center;
}
.chat-input svg{
  flex: 1;
  color: rgb(151, 151, 151);
}
.chat-input .bi-paperclip{
  transform: rotate(45deg);
}
.chat-input input{
  flex: 8;
  height: 90%;
  font-size: 16px;
  border: none;
  outline: none;
}
.chat-result{
  width: 60%;
  margin: auto;
  margin-top: 30px;
}
.chat-result-ct{
  display: flex;
  flex-direction: column;
}
.chat-in{
  position: relative;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  height: 30px;
  max-width: 300px;
  border-radius: 10px;
  width: auto;
  padding: 0px 10px;
  padding-right: 50px;
  margin: 10px 0px;
  align-self: flex-start;


  /* box-sizing: border-box; */
}

.chat-in .time{
  font-size: 10px;
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.chat-out{
  margin: 10px 0px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(136, 254, 123);
  height: 30px;
  max-width: 300px;
  border-radius: 10px;
  padding: 0px 10px;
  padding-right: 50px;
  align-self: flex-end;
}
.chat-out .time{
  font-size: 10px;
  position: absolute;
  bottom: 3px;
  right: 3px;
}
/* chatarea-ed */
/* main-ed */

/* ------- */
/* responsive */
@media only screen and (max-width: 1255px) {
  .main {
    display: none;
  }
  .side-bar .menu{
    padding: 0px 20px;
    background-color: rgb(102, 148, 156);
    justify-content: space-between;
    border: none;
    border-radius: 0px;
    width: 100vw;
  }
  .side-bar .contact{
    border-radius: 0px;
    width: 100vw;
  }
  .side-bar .menu .bi-search {
    display: block;
    color: white;
    justify-self:flex-end;
  }
  .side-bar .menu input {
    display: none;
  }
  .side-bar .menu .bi-list {
    height: 35px;
    width: 35px;
    padding: 0px 8px;
    color: white;
  }
  .side-bar .menu .bi-list:hover{
    background-color: rgba(245, 245, 245, 0.309);
  }
  .side-bar .menu h3{
    display: block;
    color: white;
  }
}
